@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<BlogWithAuthentication.Models.PostModel>

<div class="column">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="container-fluid float-right">
            <a type="button" href="/Home/Create/">Create</a>
        </div>
    }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="container">
                    <div class="card">
                        <div class="modal-header">
                            @item.Title
                            <div class="modal-title">
                                <mark>last update: @item.TimeStamp</mark>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="modal-content">
                                @item.Content
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="modal-title">
                                @item.Id.ToString()
                            </div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @using (Html.BeginForm("Delete", "Home", item, FormMethod.Post))
                                {
                                    <button type="submit">Delete</button>
                                }
                                @using (Html.BeginForm("UpdateOnUpdatePage", "Home", item, FormMethod.Post))
                                {
                                    <button type="submit">Edit</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



