@model BlogWithAuthentication.Models.PostModel

<table class="table">
    <tr>
        <td>
            @using (Html.BeginForm("Update", "Home", Model, FormMethod.Post))
            {
                <div class="row">
                    <button type="submit">Submit Changes</button>
                </div>
                <label class="modal-title-create">Title:</label>
                <div>
                    @Html.TextBoxFor(model => model.Title, new { @class = "modal-content-create-title" })
                </div>
                <label class="modal-title-create">Content:</label>
                <div class="modal-content-create">
                    @Html.TextAreaFor(model => model.Content, new { @class = "modal-content-create-content" })
                </div>
            }
        </td>
    </tr>
</table>
